@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(https://fonts.googleapis.com/earlyaccess/lateef.css); 
@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);
@import url(https://fonts.googleapis.com/earlyaccess/thabit.css);

     .page-break {
            page-break-after: always;
             font-size: 15pt;
        }
        .main {
            width: 346px;
            height: 214px;
            margin: auto;
            margin-bottom: 30px;
            position: relative;
            font-size: 15pt;
        }
        .background-image {
            width: 98%;
            height: 99%;
            /* border-radius: 6px; */
            /* position: relative; */
            border: 1px solid gray;
            /* position: absolute; */

            background-size:     cover;                      /* <------ */
            background-position: center center;   
        }
        .main-data {
            width: 345px;
            height: 212px;
             font-size: 15pt;
            /* position: absolute; */
        }
        .right-div,
        .left-div {
            position: absolute;
            float: right;
            width: 177px;
            height:300px;
        }
        .logo {
            position: absolute;
            margin: 25px 0 0 18px;
        }
        .info {
            /* position: absolute; */
             padding: 0 12px; 
            height: 120px;
            margin-top: 70px;
            /*text-align: right;*/
        }
        .capitalize {
            text-transform: capitalize;
        }
        .register-hr {
            border-bottom: 1px solid black;
            width: 80px;
        }
        .back-div {
            padding: 10px;
            position: absolute;
            height: 194px;
            margin-left: 120px;
            width: 208px;
            /* display: */
        }
        .new-div {
            position: absolute;
            float: left;
            width: 177px;
            height:300px;
            
        }
        
        .tiptext {
width: auto;
font-family: 'proxima_nova_rgbold', Helvetica; 
/*text-decoration: underline;*/
display:inline-block
color: rgb(39, 44, 45); 
/*font-size: 14px;*/
cursor: help; 
}



table {
  border-collapse: collapse;
  /*border: 1px solid black;*/
 font-size: 8pt; 
   border-spacing:0; /* Removes the cell spacing via CSS */
} 

th,td {
  /*border: 1px solid black;*/
}

.a {
  /*table-layout: auto;*/
  /*width: 85px;  */
}

.amiri{font-family: 'Amiri', serif;}
.droid-arabic-kufi{font-family: 'Droid Arabic Kufi', serif;}
.droid-arabic-naskh{font-family: 'Droid Arabic Naskh', serif;}
.lateef{font-family: 'Lateef', serif;}
.scheherazade{font-family: 'Scheherazade', serif;}
.thabit{font-family: 'Thabit', serif;}


